@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
    width: 100%;
    position: relative;
    min-height: 100%;
    font-family: 'Rubik', sans-serif;
    background-color: #C8F2EF;
}

.title-bar {
    background-color: #96CEB4;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    box-shadow: 3px 3px solid rgba(0, 0, 0, 0.5);
}

.logo,
.quote {
    margin: 0;
}

.quote {
    font-style: italic;
}

.main-content {
    background-color: #C8F2EF;
    padding: 20px;
}

.add-book {
    position: fixed;
    background-color: none;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    top: 12%;
    right: 20px;
}

.add-book-btn {
    background-color: #FFAD60;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.add-book .content img {
    width: 100%;
}

.add-book .content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 35%;
    top: 20%;
    width: 300px;
    padding: 25px;
    border-radius: 5%;
    background-color: #96CEB4;
    text-align: center;
    /* transform: translate(-50%, -50%) scale(0);
    transition: 0.2s ease-in-out; */
}

.form-input {
    display: flex;
    flex-direction: row;
    height: 20px;
    align-items: center;
    gap: 10px;
}

.close {
    color: #fff;
    float: right;
    font-size: 32px;
    font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.add-book-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
}

.book-card {
    background-color: #FFF89A;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    padding: 35px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.book-card .book-title {
    text-align: center;
}

.card-btns {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.submit-btn,
#delete {
    height: 40px;
    width: 90px;
    border-radius: 5%;
    font-weight: 700;

    background-color: #FFAD60;
}

.card-btns #read {
    height: 40px;
    width: 90px;
    border-radius: 5%;
    font-weight: 700;

    background-color: #FFAD60;
}

.card-btns #not-read {
    height: 40px;
    width: 90px;
    border-radius: 5%;
    font-weight: 700;

    background-color: grey;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    
    display: flex;
    /* align-items: center; */
    justify-content: center;
    font-size: 18px;
}
