@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
    width: 100%;
    position: relative;
    min-height: 100%;
    font-family: 'Rubik', sans-serif;
    background-color: #FFEEAD;
}

.container {
    
}

.title-bar {
    background-color: #96CEB4;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    box-shadow: 3px 3px solid rgba(0, 0, 0, 0.5);
}

.logo,
.quote {
    margin: 0;
}

.quote {
    font-style: italic;
}

.main-content {
    background-color: #FFEEAD;
    padding: 20px;
}

.add-book {
    position: fixed;
    background-color: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    top: 12%;
    right: 20px;
}

.add-book .content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
}

.book-card {
    background-color: #D9534F;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    padding: 35px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.card-btns {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.book-card .card-btns button{
    height: 40px;
    width: 90px;
    border-radius: 10%;

    background-color: #96CEB4;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    
    display: flex;
    /* align-items: center; */
    justify-content: center;
    font-size: 18px;
}
